*{
    font-family: agency FB;
    font-size: 20px;
    
}
body{
    display: flex;
    justify-content: center;
}

.container{
    border: 2px black solid;
    width: 250px;
    height: auto;
    margin: 2px;
    padding: 20px;
    margin-top: 70px;
    background: rgba(128, 128, 128, 0.218);
    border-radius: 0.5rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}
.container h2{
    text-align: center;
}
input{
    width: 100%;
    height: 20px;
    border-radius: 0.2rem;
}
.btn{
 align-items: center;
 padding: 5px;
 width: 25%;
 background: grey;
 color: white;
 border-radius: 0.2rem;
}